Import Modul yang diperlukan

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
#Membuka file data rumah
data = pd.read_excel("rumah.xls")

In [11]:
data

,harga,luas_tanah,luas_bangunan,kamar_tidur,kamar_mandi,lantai,lokasi
0,1900000000,118,80,3,1,1,jakarta_pusat
1,1400000000,52,102,4,2,2,jakarta_pusat
2,1500000000,91,91,10,6,3,jakarta_pusat
3,2500000000,105,150,5,4,2,jakarta_pusat
4,4000000000,160,160,4,3,1,jakarta_pusat
...,...,...,...,...,...,...,...
1134,27900000000,625,750,6,5,2,jakarta_barat
1135,6500000000,871,200,3,2,1,jakarta_barat
1136,2650000000,125,185,3,3,2,jakarta_barat
1137,3500000000,288,245,4,4,2,jakarta_barat
1138,3188000000,90,210,4,4,3,jakarta_barat

Exploratory Data Analysis (EDA)

In [12]:
#Menampilkan informasi data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1139 entries, 0 to 1138
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   harga          1139 non-null   int64
 1   luas_tanah     1139 non-null   int64
 2   luas_bangunan  1139 non-null   int64
 3   kamar_tidur    1139 non-null   int64
 4   kamar_mandi    1139 non-null   int64
 5   lantai         1139 non-null   int64
 6   lokasi         1139 non-null   object
dtypes: int64(6), object(1)
memory usage: 62.4+ KB

In [13]:
data.describe()

,harga,luas_tanah,luas_bangunan,kamar_tidur,kamar_mandi,lantai
count,1.139000e+03,1139.000000,1139.000000,1139.000000,1139.000000,1139.000000
mean,4.274402e+09,181.100088,198.640913,3.877085,3.060579,2.011414
std,7.157735e+09,326.893374,192.216226,1.661830,1.433598,0.659426
min,8.500000e+07,16.000000,7.000000,1.000000,1.000000,1.000000
25%,1.200000e+09,67.000000,84.000000,3.000000,2.000000,2.000000
50%,2.400000e+09,108.000000,148.000000,4.000000,3.000000,2.000000
75%,4.500000e+09,200.000000,250.000000,5.000000,4.000000,2.000000
max,1.000000e+11,8200.000000,2700.000000,12.000000,10.000000,6.000000

In [ ]:
sns.histplot(data['harga'],kde=True)

In [ ]:
data['harga'] = np.log1p(data['harga'])
sns.histplot(data['harga'],kde=True)

In [ ]:
# Menghitung jumlah rumah dijual di setiap lokasi
jumlah_rumah_per_lokasi = data['lokasi'].value_counts()

# Menampilkan hasil
print(jumlah_rumah_per_lokasi)

In [ ]:
# Membuat histogram
plt.bar(jumlah_rumah_per_lokasi.index, jumlah_rumah_per_lokasi.values, color='skyblue')
plt.xlabel('Lokasi')
plt.xticks(rotation=45, ha='right')
plt.ylabel('Jumlah Rumah Dijual')
plt.title('Jumlah Rumah Dijual Berdasarkan Lokasi')
plt.figure(figsize=(15, 8))

In [ ]:
# Create a boxplot
sns.boxplot(
    x = "lokasi",
    y = "harga",
    showmeans=True,  # Show means as points on top of the boxes
    data=data)
# Rotate x-axis labels for better readability
plt.xticks(rotation=45)
plt.title('Distribusi Harga Rumah Berdasarkan Lokasi')
plt.xlabel('Lokasi')
plt.ylabel('Harga Rumah')
plt.tight_layout()
plt.show()

In [ ]:
#Distribusi Harga di setiap lokasi
harga_lokasi = data.groupby('lokasi')['harga'].describe()

In [ ]:
harga_lokasi

In [ ]:
# Create a box plot of house price by house location
sns.boxplot(
    x = "lokasi",
    y = "harga",
    showmeans=True,  # Show the mean as a diamond
    data=data
)

# Rotate x labels to prevent overlapping (optional)
plt.xticks(rotation=45)  # Rotate x labels by 45 degrees

# Add a title and labels
plt.title("Distribution of House Price by Location")
plt.xlabel("Lokasi Rumah")
plt.ylabel("Harga")

# Show the plot
plt.show()

In [ ]:
data = data.join(pd.get_dummies(data.lokasi)).drop(['lokasi'], axis=1)

In [ ]:
data

In [ ]:
# Select the columns that are numerical (dtype='int64' or 'float64')
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns

# Calculate the correlation matrix for the numerical columns
corr_matrix = data[numerical_cols].corr()

# Create the heatmap with annotations, colormap, and figure size
sns.heatmap(corr_matrix, annot=True, cmap="YlGnBu")
plt.show()

In [ ]:
corr_matrix["harga"].sort_values(ascending=False)

In [ ]:
fig = plt.figure(figsize=(12,10))
#lb
plt.subplot(321)
sns.scatterplot(data=data, x='luas_bangunan', y="harga")
#km
plt.subplot(322)
sns.scatterplot(data=data, x='kamar_mandi', y="harga")
#kt
plt.subplot(323)
sns.scatterplot(data=data, x='kamar_tidur', y="harga")
#lt
plt.subplot(324)
sns.scatterplot(data=data, x='luas_tanah', y="harga")
#lantai
plt.subplot(325)
sns.scatterplot(data=data, x='lantai', y="harga")

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = data.drop(['harga'], axis=1)
y = data['harga']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
train_data = X_train.join(y_train)

In [ ]:
test_data = X_test.join(y_test)

In [ ]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

In [ ]:
data = pd.concat([train_data,test_data], axis=0)
y_train = train_data['harga']
data = data.drop(['harga'], axis=1)
print(data.shape)

In [ ]:
data.info()

In [ ]:
data.dtypes.value_counts().plot.pie()

In [ ]:
print('UNIQUE VALUES\n')
for col in data.columns:
    print(f'{col}: {len(data[col].unique())}\n')

In [ ]:
#Filling the numeric data
numeric_missed = ['luas_tanah',
'luas_bangunan',
'kamar_tidur',
'kamar_mandi',
'lantai']
for feature in numeric_missed:
    data[feature] = data[feature].fillna(0)
#Filling the categorical data
categorical_missed = ['jakarta_pusat',
'jakarta_utara',
'jakarta_timur',
'jakarta_selatan',
'jakarta_barat']
for feature in categorical_missed:
    data[feature] = data[feature].fillna(data[feature].mode()[0])

In [ ]:
#Checking for any remaining null values
data.isnull().sum().max()

In [ ]:
import scipy.stats as stats
from scipy.stats import skew

In [ ]:
#Top skewed columns
numeric_features = data.dtypes[data.dtypes != 'object'].index
skewed_features = data[numeric_features].apply(lambda x: skew(x)).sort_values(ascending=False)
high_skew = skewed_features[abs(skewed_features) > 0.5]
print(high_skew)

In [ ]:
#Transforming skewed columns
for feature in high_skew.index:
    data[feature] = np.log1p(data[feature])

In [ ]:
#Dividing data back into train & test
train = data[:len(y_train)]
test = data[len(y_test):]
#Printing their shapes
print(train.shape, test.shape)

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, mean_absolute_percentage_error

Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

In [ ]:
y_pred_train_lr = lr.predict(X_train)
y_pred_test_lr = lr.predict(X_test)

In [ ]:
# Calculate R-squared for both training and testing sets
r2_train = r2_score(y_train, y_pred_train_lr)
r2_test = r2_score(y_test, y_pred_test_lr)
print("Training R-squared:", r2_train)
print("Testing R-squared:", r2_test)

In [ ]:
# R-squared
r2 = r2_score(y_test, y_pred_test_lr)
# Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred_test_lr)
# Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred_test_lr)
# Mean Absolute Percentage Error (MAPE)
mape = mean_absolute_percentage_error(y_test, y_pred_test_lr) * 100  # Convert to percentage

print("R-squared:", r2)
print("MAE:", mae)
print("MSE:", mse)
print("MAPE:", mape)

Random Forest Regression

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# Default parameter pada RandomForestRegressor
n_estimators = 100  # Number of decision trees
max_depth = None  # Maximum depth of each tree
min_samples_split = 2  # Minimum number of samples required to split a node
min_samples_leaf = 1  # Minimum number of samples required at each leaf node

# Create the model
clf = RandomForestRegressor(n_estimators=n_estimators,
                           max_depth=max_depth,
                           min_samples_split=min_samples_split,
                           min_samples_leaf=min_samples_leaf)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
clf.score(X_test,y_test)

In [ ]:
y_pred_train_rfr = clf.predict(X_train)

In [ ]:
y_pred_test_rfr = clf.predict(X_test)

In [ ]:
# Calculate R-squared for both training and testing sets
r2_train = r2_score(y_train, y_pred_train_rfr)
r2_test = r2_score(y_test, y_pred_test_rfr)
print("Training R-squared:", r2_train)
print("Testing R-squared:", r2_test)

In [ ]:
# R-squared
r2 = r2_score(y_test, y_pred_test_rfr)
# Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred_test_rfr)
# Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred_test_rfr)
# Mean Absolute Percentage Error (MAPE)
mape = mean_absolute_percentage_error(y_test, y_pred_test_rfr) * 100  # Convert to percentage

print("R-squared:", r2)
print("MAE:", mae)
print("MSE:", mse)
print("MAPE:", mape)

In [ ]:
plt.scatter(y_test, y_pred_test);

In [ ]:
# Calculate residuals (difference between actual and predicted)
residuals = y_test - y_pred_test

# Create a scatter plot of residuals vs y_test
plt.scatter(y_test, residuals)

# Add labels and title
plt.xlabel("True Values (y_test)")
plt.ylabel("Residuals (y_test - y_pred_test)")
plt.title("Residual Plot")

plt.show()

In [ ]:
# Feature Importance
importances = pd.DataFrame({'feature':X_train.columns,'importance':np.round(clf.feature_importances_,3)})
importances = importances.sort_values('importance',ascending=False).set_index('feature')

In [ ]:
importances.head(10)

In [ ]:
importances.plot.bar()

In [ ]:
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.metrics import mean_squared_error 
import random  # Import the random module

# Define hyperparameter grid
param_grid = {
    'n_estimators': [50, 100, 200, 300],  # Number of trees
    'max_depth': [1, 20, 50, 100],  # Maximum depth of trees
    'min_samples_split': [2, 4, 8, 20],  # Minimum samples to split a node
    'min_samples_leaf': [1, 5, 10, 20], # Minimum samples leaf
    'max_features': ['auto', 'sqrt', 'log2'],
}

# Create and fit GridSearchCV object
model_cv = GridSearchCV(RandomForestRegressor(), param_grid, cv=5)
model_cv.fit(X_train, y_train)

# Access best parameters and best model
best_params = model_cv.best_params_
best_model = model_cv.best_estimator_

In [ ]:
# Get the best model and its score
best_score = model_cv.best_score_

In [ ]:
# Make predictions on test data
y_pred = model_cv.best_estimator_.predict(X_test)

# Calculate evaluation metrics
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mape = mean_absolute_percentage_error(y_test, y_pred)

# Print the results
print("R-squared:", r2)
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Percentage Error (MAPE):", mape)

In [ ]:
random_forest_oob = RandomForestRegressor(oob_score=True)
random_forest_oob.fit(X_train, y_train)
print(random_forest_oob.oob_score_)

In [ ]:
plt.scatter(X_test['luas_tanah'].values, y_test, color = 'green') #actual data
plt.scatter(X_test['luas_tanah'].values, y_pred, color = 'blue') #predicted data
plt.title('Random Forest Regression')
plt.xlabel('RM')
plt.ylabel('Harga')
plt.show()